<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} To-Do App {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='D:static\css\style.css')}}">
</head>
<body>
<header>
    <div class="container">
        <h1>My To-do app</h1>
        <nav>
            <a href="{{url_for('tasks.view_tasks')}}">Home</a>
            {% if 'user' in session %}
                <a href="{{url_for('auth.logout')}}">Logout</a>
            {% else %}
            <a href="{{url_for('auth.login')}}">Login</a>
            {% endif %}
        </nav>

    </div>
</header>
<main class="container">
    {% with messages = get_flashed_message(with_categories=True)  %}
    {% for category, message in messgaes %}
    <div class="flash {{category}}">{{message}}</div>

     {% endfor %}
        
    {% endwith %}
    {% block content %}
        
    {% endblock %}
</main>
<footer>
    <p>&copy; {{2025}} My Flask To-do app </p>
</footer>


</body>
</html>